export interface {{ pascalName }}Props {
  // TODO add props
}

/**
 * {{ pascalName }}.
 */
const {{ pascalName }} = () => (
  <div>
    <h1>{{ pascalName }}</h1>
  </div>
);

export default {{ pascalName }};
